@keyframes roll-left-to-right {
  0% {
    transform: translateX(-100vw) rotate(-360deg); // Hors écran à gauche
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg); // Position finale
    opacity: 1;
  }
}

@keyframes roll-right-to-left {
  0% {
    transform: translateX(100vw) rotate(360deg); // Hors écran à droite
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.logo-roller-container {
  position: relative;
  width: 100%;  // occupe toute la largeur du grid-col
  height: 80px; // ou adapte à la taille de ton logo
  overflow: hidden;
  display: flex;
  justify-content: center; // centre ton contenu
  align-items: center;
}

.logo-roller {
  width: 64px;
  height: 64px;
  position: relative;
}

.logo-roll-left {
  animation: roll-left-to-right 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-roll-right {
  animation: roll-right-to-left 1s cubic-bezier(0.4, 0, 0.2, 1);
}