@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: DMMono;
    src: url("fonts/DMMono-Regular.ttf");
}
.DMMono{
    font-family:DMMono;
}
.bg-neutral-800{
    background-color: rgb(38 38 38);
}
.animate-scale {
    -webkit-animation: scaleDownIn 1.5s cubic-bezier(.87,0,.13,1);
    animation: scaleDownIn 1.5s cubic-bezier(.87,0,.13,1);
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: scaleDownIn;
}
@keyframes scaleDownIn {
    0%{
        transform : scale(1.5)
    }
    100%{
        transform : scale(1);
    }
    
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 53, 99);
  }
  .min-h-100{
    min-height:90vh;
  }
  @media only screen and (max-width: 640px) {
    .h-44-resp{
        height:11rem;
    }
  }
.trs{
  transition:5s transform;
}
body{
  overflow-x:hidden;
}
.rotate-translate:hover{
  transform: translateX(40vw) rotate(360deg);
}
.side-fade-enter {
  opacity: 0;
  transform:translateX(-40px)
}
.side-fade-enter-active {
  opacity: 1;
  transform:translateX(0px);
  transition: 500ms;
  
}
.side-fade-exit {
  opacity: 1;

}
.side-fade-exit-active {
  opacity: 0;
  transform:translateX(40px);
  transition: 500ms;
}

.min-h-24{
  min-height: 6rem;
}
.vertical-fade-enter {
  opacity: 0;
  transform:translateY(-40px)
}
.vertical-fade-enter-active {
  opacity: 1;
  transform:translateX(0px);
  transition: 500ms;
  transition-delay: 500ms;
}
.vertical-fade-exit {
  opacity: 1;

}
.vertical-fade-exit-active {
  opacity: 0;
  transform:translateY(40px);
  transition: 500ms;
}
.circle::after{
 position:absolute;
 left:-7px;
 top:0px;
 width:15px;
 height:15px;
 content:'';
 background: rgb(96,165,250);
 
 border-radius:25px; 
}