@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: DMMono;
    src: url("fonts/DMMono-Regular.ttf");
}
.DMMono{
    font-family:DMMono;
}
.bg-neutral-800{
    background-color: rgb(38 38 38);
}
.animate-scale {
    -webkit-animation: scaleDownIn 1.5s cubic-bezier(.87,0,.13,1);
    animation: scaleDownIn 1.5s cubic-bezier(.87,0,.13,1);
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: scaleDownIn;
}
@keyframes scaleDownIn {
    0%{
        transform : scale(1.5)
    }
    100%{
        transform : scale(1);
    }
    
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 53, 99);
  }
  body{
    overflow:hidden;
  }